In [537]:
import pandas as pd
import numpy as np

In [521]:
# Import and read the Health Rankings data
health_rankings_df = pd.read_csv("Data/2018_County_Health_Rankings_US_Data.csv")
health_rankings_df.head()

,FIPS,State,County,Years of Potential Life Lost Rate,95% CI - Low,95% CI - High,Quartile,Years of Potential Life Lost Rate (Black),Years of Potential Life Lost Rate (Hispanic),Years of Potential Life Lost Rate (White),...,Quartile.33,% Drive Alone (Black),% Drive Alone (Hispanic),% Drive Alone (White),# Workers who Drive Alone,% Long Commute - Drives Alone,95% CI - Low.21,95% CI - High.21,Quartile.34,Unnamed: 165
0,1001.0,Alabama,Autauga,9409.0,8492.0,10326.0,2,11806.0,NaN,9148.0,...,4,82.0,NaN,83.0,21082.0,41.0,37.0,45.0,3,NaN
1,1003.0,Alabama,Baldwin,7468.0,7026.0,7909.0,1,10336.0,2827.0,7484.0,...,2,86.0,69.0,85.0,73058.0,40.0,38.0,43.0,3,NaN
2,1005.0,Alabama,Barbour,8929.0,7634.0,10225.0,1,9141.0,NaN,8896.0,...,1,80.0,NaN,86.0,7271.0,35.0,30.0,40.0,2,NaN
3,1007.0,Alabama,Bibb,11742.0,10058.0,13426.0,4,11297.0,NaN,11923.0,...,2,NaN,NaN,NaN,7044.0,49.0,41.0,57.0,4,NaN
4,1009.0,Alabama,Blount,9359.0,8463.0,10255.0,1,NaN,5133.0,9601.0,...,3,NaN,80.0,82.0,18384.0,60.0,56.0,65.0,4,NaN

In [522]:
# Replace % with Percent in column headings
health_rankings_df = health_rankings_df.rename(columns=lambda s: s. replace("%", "Percent"))
health_rankings_df.head()

,FIPS,State,County,Years of Potential Life Lost Rate,95Percent CI - Low,95Percent CI - High,Quartile,Years of Potential Life Lost Rate (Black),Years of Potential Life Lost Rate (Hispanic),Years of Potential Life Lost Rate (White),...,Quartile.33,Percent Drive Alone (Black),Percent Drive Alone (Hispanic),Percent Drive Alone (White),# Workers who Drive Alone,Percent Long Commute - Drives Alone,95Percent CI - Low.21,95Percent CI - High.21,Quartile.34,Unnamed: 165
0,1001.0,Alabama,Autauga,9409.0,8492.0,10326.0,2,11806.0,NaN,9148.0,...,4,82.0,NaN,83.0,21082.0,41.0,37.0,45.0,3,NaN
1,1003.0,Alabama,Baldwin,7468.0,7026.0,7909.0,1,10336.0,2827.0,7484.0,...,2,86.0,69.0,85.0,73058.0,40.0,38.0,43.0,3,NaN
2,1005.0,Alabama,Barbour,8929.0,7634.0,10225.0,1,9141.0,NaN,8896.0,...,1,80.0,NaN,86.0,7271.0,35.0,30.0,40.0,2,NaN
3,1007.0,Alabama,Bibb,11742.0,10058.0,13426.0,4,11297.0,NaN,11923.0,...,2,NaN,NaN,NaN,7044.0,49.0,41.0,57.0,4,NaN
4,1009.0,Alabama,Blount,9359.0,8463.0,10255.0,1,NaN,5133.0,9601.0,...,3,NaN,80.0,82.0,18384.0,60.0,56.0,65.0,4,NaN

In [523]:
# Include wanted columns and remove unwanted columns
health_rankings_df = health_rankings_df[["FIPS","State","County","Percent Smokers","Percent Obese","Food Environment Index","Percent With Access","PCP Rate","MHP Rate","Percent Some College","Percent Unemployed","Income Ratio","Violent Crime Rate","Average Daily PM2.5","Percent Long Commute - Drives Alone"]]
health_rankings_df.head()

,FIPS,State,County,Percent Smokers,Percent Obese,Food Environment Index,Percent With Access,PCP Rate,MHP Rate,Percent Some College,Percent Unemployed,Income Ratio,Violent Crime Rate,Average Daily PM2.5,Percent Long Commute - Drives Alone
0,1001.0,Alabama,Autauga,19.0,36.0,7.1,71.0,45.0,13.0,61.9,5.3,4.4,266.0,10.8,41.0
1,1003.0,Alabama,Baldwin,17.0,29.0,7.9,69.0,73.0,89.0,63.8,5.4,4.6,217.0,9.6,40.0
2,1005.0,Alabama,Barbour,22.0,44.0,5.5,53.0,42.0,8.0,39.7,8.6,5.9,329.0,10.1,35.0
3,1007.0,Alabama,Bibb,20.0,38.0,7.6,49.0,53.0,9.0,49.8,6.6,4.2,147.0,10.5,49.0
4,1009.0,Alabama,Blount,20.0,36.0,8.5,32.0,21.0,9.0,53.9,5.5,4.1,212.0,11.3,60.0

In [524]:
# Rename most column headings
health_rankings_df = health_rankings_df.rename(columns=lambda s: s.replace("Percent Smokers", "Percent_Smokers"))
health_rankings_df = health_rankings_df.rename(columns=lambda s: s.replace("Percent Obese", "Percent_Obese"))
health_rankings_df = health_rankings_df.rename(columns=lambda s: s.replace("Food Environment Index", "Food_Environment_Index"))
health_rankings_df = health_rankings_df.rename(columns=lambda s: s.replace("Percent With Access", "Percent_Access_Exercise"))
health_rankings_df = health_rankings_df.rename(columns=lambda s: s.replace("PCP Rate", "Primary_Care_Physician_Rate"))
health_rankings_df = health_rankings_df.rename(columns=lambda s: s.replace("MHP Rate", "Mental_Health_Providers_Rate"))
health_rankings_df = health_rankings_df.rename(columns=lambda s: s.replace("Percent Some College", "Percent_Some_College"))
health_rankings_df = health_rankings_df.rename(columns=lambda s: s.replace("Percent Unemployed", "Percent_Unemployed"))
health_rankings_df = health_rankings_df.rename(columns=lambda s: s.replace("Income Ratio", "Income_Inequality_Ratio"))
health_rankings_df = health_rankings_df.rename(columns=lambda s: s.replace("Violent Crime Rate", "Violent_Crime_Rate"))
health_rankings_df = health_rankings_df.rename(columns=lambda s: s.replace("Average Daily PM2.5", "Average_Daily_Air_Polution_Particle_Matter"))
health_rankings_df = health_rankings_df.rename(columns=lambda s: s.replace("Percent Long Commute - Drives Alone", "Percent_Long_Commute_Drives_Alone"))
health_rankings_df

,FIPS,State,County,Percent_Smokers,Percent_Obese,Food_Environment_Index,Percent_Access_Exercise,Primary_Care_Physician_Rate,Mental_Health_Providers_Rate,Percent_Some_College,Percent_Unemployed,Income_Inequality_Ratio,Violent_Crime_Rate,Average_Daily_Air_Polution_Particle_Matter,Percent_Long_Commute_Drives_Alone
0,1001.0,Alabama,Autauga,19.0,36.0,7.1,71.0,45.0,13.0,61.9,5.3,4.4,266.0,10.8,41.0
1,1003.0,Alabama,Baldwin,17.0,29.0,7.9,69.0,73.0,89.0,63.8,5.4,4.6,217.0,9.6,40.0
2,1005.0,Alabama,Barbour,22.0,44.0,5.5,53.0,42.0,8.0,39.7,8.6,5.9,329.0,10.1,35.0
3,1007.0,Alabama,Bibb,20.0,38.0,7.6,49.0,53.0,9.0,49.8,6.6,4.2,147.0,10.5,49.0
4,1009.0,Alabama,Blount,20.0,36.0,8.5,32.0,21.0,9.0,53.9,5.5,4.1,212.0,11.3,60.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3138,56039.0,Wyoming,Teton,14.0,13.0,8.2,100.0,121.0,379.0,78.9,3.4,4.0,NaN,6.3,12.0
3139,56041.0,Wyoming,Uinta,18.0,32.0,7.6,83.0,43.0,342.0,57.1,5.8,4.7,40.0,6.7,18.0
3140,56043.0,Wyoming,Washakie,16.0,27.0,8.4,86.0,36.0,316.0,54.7,4.7,3.8,79.0,6.4,10.0
3141,56045.0,Wyoming,Weston,17.0,32.0,8.1,27.0,55.0,138.0,67.8,4.9,5.4,143.0,6.7,22.0
3142,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [539]:
# Import and read the additional Health Rankings data (Percent Rural)
health_rankings_additional_df = pd.read_csv("Data/2018_County_Health_Rankings_US_Additional_Data.csv")
health_rankings_additional_df.head()

   FIPS    State   County  % Rural
0  1001  Alabama  Autauga     42.0
1  1003  Alabama  Baldwin     42.3
2  1005  Alabama  Barbour     67.8
3  1007  Alabama     Bibb     68.4
4  1009  Alabama   Blount     90.0

In [540]:
# Replace % with Percent in column headings
health_rankings_additional_df = health_rankings_additional_df.rename(columns=lambda s: s. replace("% Rural", "Percent_Rural"))
health_rankings_additional_df.head()

   FIPS    State   County  Percent_Rural
0  1001  Alabama  Autauga           42.0
1  1003  Alabama  Baldwin           42.3
2  1005  Alabama  Barbour           67.8
3  1007  Alabama     Bibb           68.4
4  1009  Alabama   Blount           90.0

In [541]:
# Remove unwanted columns
health_rankings_additional_df = health_rankings_additional_df[["FIPS","Percent_Rural"]]
health_rankings_additional_df.head()

   FIPS  Percent_Rural
0  1001           42.0
1  1003           42.3
2  1005           67.8
3  1007           68.4
4  1009           90.0

In [542]:
health_rankings_additional_df.dtypes

FIPS               int64
Percent_Rural    float64
dtype: object

In [543]:
health_rankings_additional_df.set_index('FIPS')
health_rankings_additional_df

       FIPS  Percent_Rural
0      1001           42.0
1      1003           42.3
2      1005           67.8
3      1007           68.4
4      1009           90.0
...     ...            ...
3137  56037           10.9
3138  56039           46.4
3139  56041           43.1
3140  56043           36.0
3141  56045           54.5

[3142 rows x 2 columns]

In [544]:
health_rankings_additional_df.to_csv('Data/Health_Rankings_Additional_Final.csv', index=False)

In [529]:
# Combine the the two data sets into a single dataset
health_rankings_final_df = pd.merge(health_rankings_additional_df, health_rankings_df, on=["FIPS", "FIPS"])
health_rankings_final_df.head()

,FIPS,Percent_Rural,State,County,Percent_Smokers,Percent_Obese,Food_Environment_Index,Percent_Access_Exercise,Primary_Care_Physician_Rate,Mental_Health_Providers_Rate,Percent_Some_College,Percent_Unemployed,Income_Inequality_Ratio,Violent_Crime_Rate,Average_Daily_Air_Polution_Particle_Matter,Percent_Long_Commute_Drives_Alone
0,1001,42.0,Alabama,Autauga,19.0,36.0,7.1,71.0,45.0,13.0,61.9,5.3,4.4,266.0,10.8,41.0
1,1003,42.3,Alabama,Baldwin,17.0,29.0,7.9,69.0,73.0,89.0,63.8,5.4,4.6,217.0,9.6,40.0
2,1005,67.8,Alabama,Barbour,22.0,44.0,5.5,53.0,42.0,8.0,39.7,8.6,5.9,329.0,10.1,35.0
3,1007,68.4,Alabama,Bibb,20.0,38.0,7.6,49.0,53.0,9.0,49.8,6.6,4.2,147.0,10.5,49.0
4,1009,90.0,Alabama,Blount,20.0,36.0,8.5,32.0,21.0,9.0,53.9,5.5,4.1,212.0,11.3,60.0

In [530]:
# Move Percent Rural column to the far right
health_rankings_final_df = health_rankings_final_df[["FIPS","State","County","Percent_Smokers","Percent_Obese","Food_Environment_Index","Percent_Access_Exercise","Primary_Care_Physician_Rate","Mental_Health_Providers_Rate","Percent_Some_College","Percent_Unemployed","Income_Inequality_Ratio","Violent_Crime_Rate","Average_Daily_Air_Polution_Particle_Matter","Percent_Long_Commute_Drives_Alone","Percent_Rural"]]
health_rankings_final_df

,FIPS,State,County,Percent_Smokers,Percent_Obese,Food_Environment_Index,Percent_Access_Exercise,Primary_Care_Physician_Rate,Mental_Health_Providers_Rate,Percent_Some_College,Percent_Unemployed,Income_Inequality_Ratio,Violent_Crime_Rate,Average_Daily_Air_Polution_Particle_Matter,Percent_Long_Commute_Drives_Alone,Percent_Rural
0,1001,Alabama,Autauga,19.0,36.0,7.1,71.0,45.0,13.0,61.9,5.3,4.4,266.0,10.8,41.0,42.0
1,1003,Alabama,Baldwin,17.0,29.0,7.9,69.0,73.0,89.0,63.8,5.4,4.6,217.0,9.6,40.0,42.3
2,1005,Alabama,Barbour,22.0,44.0,5.5,53.0,42.0,8.0,39.7,8.6,5.9,329.0,10.1,35.0,67.8
3,1007,Alabama,Bibb,20.0,38.0,7.6,49.0,53.0,9.0,49.8,6.6,4.2,147.0,10.5,49.0,68.4
4,1009,Alabama,Blount,20.0,36.0,8.5,32.0,21.0,9.0,53.9,5.5,4.1,212.0,11.3,60.0,90.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137,56037,Wyoming,Sweetwater,18.0,31.0,7.9,69.0,34.0,229.0,57.9,6.0,3.9,350.0,7.1,19.0,10.9
3138,56039,Wyoming,Teton,14.0,13.0,8.2,100.0,121.0,379.0,78.9,3.4,4.0,NaN,6.3,12.0,46.4
3139,56041,Wyoming,Uinta,18.0,32.0,7.6,83.0,43.0,342.0,57.1,5.8,4.7,40.0,6.7,18.0,43.1
3140,56043,Wyoming,Washakie,16.0,27.0,8.4,86.0,36.0,316.0,54.7,4.7,3.8,79.0,6.4,10.0,36.0
3141,56045,Wyoming,Weston,17.0,32.0,8.1,27.0,55.0,138.0,67.8,4.9,5.4,143.0,6.7,22.0,54.5

In [531]:
# Check number of unique values in each column.
health_rankings_final_df.nunique()

FIPS                                          3142
State                                           51
County                                        1850
Percent_Smokers                                 33
Percent_Obese                                   35
Food_Environment_Index                          86
Percent_Access_Exercise                        101
Primary_Care_Physician_Rate                    175
Mental_Health_Providers_Rate                   491
Percent_Some_College                           528
Percent_Unemployed                             117
Income_Inequality_Ratio                         55
Violent_Crime_Rate                             684
Average_Daily_Air_Polution_Particle_Matter      98
Percent_Long_Commute_Drives_Alone               70
Percent_Rural                                  869
dtype: int64

In [532]:
health_rankings_final_df.dtypes

FIPS                                            int64
State                                          object
County                                         object
Percent_Smokers                               float64
Percent_Obese                                 float64
Food_Environment_Index                        float64
Percent_Access_Exercise                       float64
Primary_Care_Physician_Rate                   float64
Mental_Health_Providers_Rate                  float64
Percent_Some_College                          float64
Percent_Unemployed                            float64
Income_Inequality_Ratio                       float64
Violent_Crime_Rate                            float64
Average_Daily_Air_Polution_Particle_Matter    float64
Percent_Long_Commute_Drives_Alone             float64
Percent_Rural                                 float64
dtype: object

In [533]:
health_rankings_final_df.set_index('FIPS')
health_rankings_final_df

,FIPS,State,County,Percent_Smokers,Percent_Obese,Food_Environment_Index,Percent_Access_Exercise,Primary_Care_Physician_Rate,Mental_Health_Providers_Rate,Percent_Some_College,Percent_Unemployed,Income_Inequality_Ratio,Violent_Crime_Rate,Average_Daily_Air_Polution_Particle_Matter,Percent_Long_Commute_Drives_Alone,Percent_Rural
0,1001,Alabama,Autauga,19.0,36.0,7.1,71.0,45.0,13.0,61.9,5.3,4.4,266.0,10.8,41.0,42.0
1,1003,Alabama,Baldwin,17.0,29.0,7.9,69.0,73.0,89.0,63.8,5.4,4.6,217.0,9.6,40.0,42.3
2,1005,Alabama,Barbour,22.0,44.0,5.5,53.0,42.0,8.0,39.7,8.6,5.9,329.0,10.1,35.0,67.8
3,1007,Alabama,Bibb,20.0,38.0,7.6,49.0,53.0,9.0,49.8,6.6,4.2,147.0,10.5,49.0,68.4
4,1009,Alabama,Blount,20.0,36.0,8.5,32.0,21.0,9.0,53.9,5.5,4.1,212.0,11.3,60.0,90.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137,56037,Wyoming,Sweetwater,18.0,31.0,7.9,69.0,34.0,229.0,57.9,6.0,3.9,350.0,7.1,19.0,10.9
3138,56039,Wyoming,Teton,14.0,13.0,8.2,100.0,121.0,379.0,78.9,3.4,4.0,NaN,6.3,12.0,46.4
3139,56041,Wyoming,Uinta,18.0,32.0,7.6,83.0,43.0,342.0,57.1,5.8,4.7,40.0,6.7,18.0,43.1
3140,56043,Wyoming,Washakie,16.0,27.0,8.4,86.0,36.0,316.0,54.7,4.7,3.8,79.0,6.4,10.0,36.0
3141,56045,Wyoming,Weston,17.0,32.0,8.1,27.0,55.0,138.0,67.8,4.9,5.4,143.0,6.7,22.0,54.5

In [536]:
health_rankings_final_df.to_csv('Data/Health_Rankings_Final.csv', index=False)