In [369]:
import pandas as pd

In [370]:
all_data_df = pd.read_csv("Data/All_Data.csv")
all_data_df.head()

,FIPS,Num_Per_100k,State,County,Percent_Smokers,Percent_Obese,Food_Environment_Index,Percent_Access_Exercise,Primary_Care_Physician_Rate,Mental_Health_Providers_Rate,Percent_Some_College,Percent_Unemployed,Income_Inequality_Ratio,Violent_Crime_Rate,Average_Daily_Air_Polution_Particle_Matter,Percent_Long_Commute_Drives_Alone,Percent_Rural
0,1001,107.0,Alabama,Autauga,19.0,36.0,7.1,71.0,45.0,13.0,61.9,5.3,4.4,266.0,10.8,41.0,42.0
1,1003,82.5,Alabama,Baldwin,17.0,29.0,7.9,69.0,73.0,89.0,63.8,5.4,4.6,217.0,9.6,40.0,42.3
2,1005,96.1,Alabama,Barbour,22.0,44.0,5.5,53.0,42.0,8.0,39.7,8.6,5.9,329.0,10.1,35.0,67.8
3,1007,112.3,Alabama,Bibb,20.0,38.0,7.6,49.0,53.0,9.0,49.8,6.6,4.2,147.0,10.5,49.0,68.4
4,1009,96.1,Alabama,Blount,20.0,36.0,8.5,32.0,21.0,9.0,53.9,5.5,4.1,212.0,11.3,60.0,90.0

In [371]:
all_data_df.shape

(3142, 17)

In [372]:
# Import dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
# import tensorflow as tf

In [373]:
# Check for null values
all_data_df.isnull().sum()

FIPS                                            0
Num_Per_100k                                    7
State                                           0
County                                          0
Percent_Smokers                                 0
Percent_Obese                                   0
Food_Environment_Index                         19
Percent_Access_Exercise                         6
Primary_Care_Physician_Rate                   134
Mental_Health_Providers_Rate                  264
Percent_Some_College                            0
Percent_Unemployed                              1
Income_Inequality_Ratio                         2
Violent_Crime_Rate                            176
Average_Daily_Air_Polution_Particle_Matter     34
Percent_Long_Commute_Drives_Alone               0
Percent_Rural                                   7
dtype: int64

In [374]:
# Drop null values
all_data_df = all_data_df.dropna(axis=0)

In [375]:
# Drop identifier columns
all_data_usable_df = all_data_df.drop(["FIPS", "State", "County"], 1)
all_data_usable_df.head()

/var/folders/73/r2ypb6197z34qqk9hr4zj9900000gn/T/ipykernel_66113/1828287075.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  all_data_usable_df = all_data_df.drop(["FIPS", "State", "County"], 1)

,Num_Per_100k,Percent_Smokers,Percent_Obese,Food_Environment_Index,Percent_Access_Exercise,Primary_Care_Physician_Rate,Mental_Health_Providers_Rate,Percent_Some_College,Percent_Unemployed,Income_Inequality_Ratio,Violent_Crime_Rate,Average_Daily_Air_Polution_Particle_Matter,Percent_Long_Commute_Drives_Alone,Percent_Rural
0,107.0,19.0,36.0,7.1,71.0,45.0,13.0,61.9,5.3,4.4,266.0,10.8,41.0,42.0
1,82.5,17.0,29.0,7.9,69.0,73.0,89.0,63.8,5.4,4.6,217.0,9.6,40.0,42.3
2,96.1,22.0,44.0,5.5,53.0,42.0,8.0,39.7,8.6,5.9,329.0,10.1,35.0,67.8
3,112.3,20.0,38.0,7.6,49.0,53.0,9.0,49.8,6.6,4.2,147.0,10.5,49.0,68.4
4,96.1,20.0,36.0,8.5,32.0,21.0,9.0,53.9,5.5,4.1,212.0,11.3,60.0,90.0

In [376]:
# Check for null values
all_data_usable_df.isnull().sum()

Num_Per_100k                                  0
Percent_Smokers                               0
Percent_Obese                                 0
Food_Environment_Index                        0
Percent_Access_Exercise                       0
Primary_Care_Physician_Rate                   0
Mental_Health_Providers_Rate                  0
Percent_Some_College                          0
Percent_Unemployed                            0
Income_Inequality_Ratio                       0
Violent_Crime_Rate                            0
Average_Daily_Air_Polution_Particle_Matter    0
Percent_Long_Commute_Drives_Alone             0
Percent_Rural                                 0
dtype: int64

In [377]:
all_data_usable_df.shape

(2645, 14)

In [378]:
# X = all_data_usable_df.iloc[:, 0:13].values
# y = all_data_usable_df.iloc[:, 0].values

In [383]:
# X = all_data_usable_df.Num_Per_100k
# X

array([[107. ,  19. ,  36. , ..., 266. ,  10.8,  41. ],
       [ 82.5,  17. ,  29. , ..., 217. ,   9.6,  40. ],
       [ 96.1,  22. ,  44. , ..., 329. ,  10.1,  35. ],
       ...,
       [ 52.8,  18. ,  32. , ...,  40. ,   6.7,  18. ],
       [ 66.3,  16. ,  27. , ...,  79. ,   6.4,  10. ],
       [ 60. ,  17. ,  32. , ..., 143. ,   6.7,  22. ]])

In [367]:
# https://stackabuse.com/random-forest-algorithm-with-python-and-scikit-learn/
# divide data into attributes and labels

X = all_data_usable_df.iloc[:, 1:13].values
y = all_data_usable_df.iloc[:, 0].values

In [340]:
X = all_data_usable_df.drop(["Num_Per_100k"], 1)
y = pd.DataFrame(all_data_usable_df["Num_Per_100k"])

/var/folders/73/r2ypb6197z34qqk9hr4zj9900000gn/T/ipykernel_66113/1540445154.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  X = all_data_usable_df.drop(["Num_Per_100k"], 1)

In [368]:
X

array([[ 19. ,  36. ,   7.1, ..., 266. ,  10.8,  41. ],
       [ 17. ,  29. ,   7.9, ..., 217. ,   9.6,  40. ],
       [ 22. ,  44. ,   5.5, ..., 329. ,  10.1,  35. ],
       ...,
       [ 18. ,  32. ,   7.6, ...,  40. ,   6.7,  18. ],
       [ 16. ,  27. ,   8.4, ...,  79. ,   6.4,  10. ],
       [ 17. ,  32. ,   8.1, ..., 143. ,   6.7,  22. ]])

In [342]:
y

      Num_Per_100k
0            107.0
1             82.5
2             96.1
3            112.3
4             96.1
...            ...
3136          44.1
3137          57.7
3139          52.8
3140          66.3
3141          60.0

[2645 rows x 1 columns]

In [379]:
# divide data into training and testing sets

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [380]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [381]:
# train random forest algorithm to solve this regression problem

from sklearn.ensemble import RandomForestRegressor

regressor = RandomForestRegressor(n_estimators=20, random_state=0)
regressor.fit(X_train, y_train)
y_pred = regressor.predict(X_test)

In [382]:
from sklearn import metrics
import numpy as np

print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 0.05077504725897904
Mean Squared Error: 0.0935166351606803
Root Mean Squared Error: 0.30580489721500587

In [278]:
# increase estimators to 50

regressor = RandomForestRegressor(n_estimators=50, random_state=0)
regressor.fit(X_train, y_train)
y_pred = regressor.predict(X_test)

/var/folders/73/r2ypb6197z34qqk9hr4zj9900000gn/T/ipykernel_66113/3883392741.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  regressor.fit(X_train, y_train)

In [189]:
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 10.457602826537043
Mean Squared Error: 176.9146424169212
Root Mean Squared Error: 13.300926374389162

In [190]:
# increase estimators to 30

regressor = RandomForestRegressor(n_estimators=30, random_state=0)
regressor.fit(X_train, y_train)
y_pred = regressor.predict(X_test)

In [191]:
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 10.478728313379543
Mean Squared Error: 178.42249915156128
Root Mean Squared Error: 13.357488504638935

In [192]:
df2 = all_data_usable_df["Num_Per_100k"].mean()
df2

75.97550094517943

In [193]:
# look at data from first 6 columns only
X = all_data_usable_df.iloc[:, 1:5].values
y = all_data_usable_df.iloc[:, 0].values

In [194]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [195]:
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [196]:
regressor = RandomForestRegressor(n_estimators=30, random_state=0)
regressor.fit(X_train, y_train)
y_pred = regressor.predict(X_test)

In [186]:
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 10.478728313379543
Mean Squared Error: 178.42249915156128
Root Mean Squared Error: 13.357488504638935

In [221]:
# look at data from first 2 columns only
X = all_data_usable_df.iloc[:, 1:2].values
y = all_data_usable_df.iloc[:, 0].values

In [222]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [223]:
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [224]:
regressor = RandomForestRegressor(n_estimators=30, random_state=0)
regressor.fit(X_train, y_train)
y_pred = regressor.predict(X_test)

In [225]:
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 10.58284294699337
Mean Squared Error: 179.05883653456024
Root Mean Squared Error: 13.381286804136598

In [247]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt

In [248]:
# https://builtin.com/data-science/random-forest-python

X_grid = np.arange(min(X), max(X), 0.01)
X_grid = X_grid.reshape((len(X_grid), 1))
plt.scatter(X, y, color ='red')
plt.plot(X_grid, regressor.predict(X_grid), color = 'blue')
plt.title('Stroke Prediction (Random Forest Regression)')
plt.xlabel('Smoking Percentage')
plt.ylabel('Stroke Prediction')
plt.show()

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

In [249]:
# Calculate feature importance in the Random Forest model.
importances = regressor.feature_importances_
importances

array([0.21077636, 0.07308817, 0.1029724 , 0.04556969, 0.04780829,
       0.0669515 , 0.05366654, 0.08428467, 0.07694833, 0.07923467,
       0.10269426, 0.05600511])

In [252]:
# We can sort the features by their importance.

important_features_dict = {}
for idx, val in enumerate(regressor.feature_importances_):
    important_features_dict[idx] = val

important_features_list = sorted(important_features_dict,
                                 key=important_features_dict.get,
                                 reverse=True)

print(f'5 most important features: {important_features_list[:5]}')

5 most important features: [0, 2, 10, 7, 9]